body {
    background-image: url("http://i.imgur.com/o43D5cS.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
	}
		
body {
    background-color: #ffa394;
	}
	
h1	{
	font-family: "Calibri";
	margin-left: 40px;
	}